[package]
name = "jalm_runtime"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["rlib", "cdylib"]

[features]
default = ["std"]
std = []

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "alloc"
harness = false
